.displayFlex(@direction: column, @align: flex-start, @justify: flex-start, @grow: 0,@display: flex, @wrap: nowrap) {
  display: @display;
  flex-direction: @direction;
  align-items: @align;
  justify-content: @justify;
  flex-grow: @grow;
  flex-wrap: @wrap;
}

.gradientSeparator() {
  @list: transparent 15%, @borderLineColor 70%, transparent 15%;
  background-image: svg-gradient(to right, @list);
}

.hoverAnimation(){
  transition: all 0.3s;
}

.addToCartBtn(@justify: center,@align: center,@margin: 0 auto){
  outline: none;
  border: none;
  background-color: @mainColor;
  width: 188px;
  padding: 13px 0;
  margin: @margin;
  display: flex;
  text-align: center;
  justify-content: @justify;
  font-size: 1.5rem;
  color: #fff;
  align-items: @align;
  position: relative;
  .hoverAnimation();
  i {
    font-size: 3rem;
    margin-right: 5px;
  }
  &:hover {
    .hoverAnimation();
    background-color: @hoverButtonsColor;
    //box-shadow: 0px -2px 8px -3px #000;
    cursor: pointer;
  }
  &:active {
    top:0.5px;
  }
}